# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.

black==19.10b0
codecov==2.0.15
# requirements for getting doit commands to run
# this is for automation of dev tasks, not required to run
doit==0.32.0
flake8==3.7.8
locustio==0.11.0
pre-commit==1.20.0
pyparsing==2.4.0
python-decouple==3.1
ruamel.yaml==0.15.97
structlog==19.1.0
tox==3.14.0
