doit
python-decouple
flake8
tox
black
ruamel.yaml
attrdict
aws-wsgi
boto3
botocore
certifi
chardet
colorama
connexion
connexion[swagger-ui]
docutils
Flask
Flask-Cors
idna
inflection
itsdangerous
Jinja2
jmespath
jsonschema==2.5.1
MarkupSafe
newrelic
openapi-spec-validator==0.2.7
pathlib
psutil
pynamodb
python-dateutil
python-decouple
python-json-logger
PyYAML
requests
s3transfer
six
stripe
structlog
urllib3
