[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = 'pypi'

[dev-packages]
bumpversion = "*"
wheel = "*"
flake8 = "*"
tox = "*"
coverage = "*"
pytest = "*"
pytest-runner = "*"
boto3 = "*"
mypy = "*"
yamllint = "*"

[packages]
Flask = "*"
attrdict = "*"
ruamel.yaml = "*"
urlpath ="*"
pathlib2 = "*"
packaging = "*"
sh = "*"
python-decouple = "*"
