aws-wsgi==0.0.8
boto3==1.9.131
botocore==1.12.150
certifi==2019.3.9
chardet==3.0.4
connexion[swagger-ui] ==2.2.0
docutils==0.14
Flask==1.0.2
Flask-Cors==3.0.7
idna==2.8
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
jsonschema==2.6.0
MarkupSafe==1.1.1
openapi-spec-validator==0.2.6
pathlib==1.0.1
psutil==5.6.2
pynamodb==3.3.3
python-dateutil==2.8.0
python-decouple==3.1
PyYAML==5.1
requests==2.21.0
s3transfer==0.2.0
sh==1.12.14
six==1.12.0
stripe==2.24.1
urllib3==1.24.2
Werkzeug==0.15.2
newrelic==4.20.0.120
